<!DOCTYPE html>

@{
    var isAdmin=(@Model.Job=="Purchase Manager");
    var isUser=(@Model.Job== "Accountant");


}
<style type="text/css">
    html, body {
        height: 100%;
    }
    .main_div
    {
        height:100%;
    }
    .section1 {
        direction: rtl;
        background-color: orange;
        color: white;
        height:4.1%;
            display: flex;
            align-items: center;
            padding-right:5px;
         }

    .section2 {
        color: white;
        direction: rtl;
        background-color: blue;
        height: 7.1%;
    }

    .section3 {

        height: 35.8%;
    }

    .section4 {
        color: white;
        direction: rtl;
        background-color: blue;
        height: 7.1%;
           display: flex;
            align-items: center;
            
    }

    .section5 {
        height: 35.8%;
        direction:rtl;
    }
    #tabhigh
    {
          background-color:blue;
    }
    #tabhigh td
    {
          width: 7%;
    }
     #lowtab
    {
       
           border-collapse: collapse;
        direction:rtl;width:100%;

    }
    #lowtab tr:nth-child(even){background-color: lightblue;}
    #lowtab td
    {
        width: 7%;
        height: 30px;
    }
    #combtab
    {
      border-collapse: collapse;
        direction:rtl;width:100%;
    }
      #combtab tr:nth-child(2n+2){background-color: lightblue;}
      #combtab tr:nth-child(1){background-color: blue; color:white;}
    #combtab td
    {
   
        width: 7%;
        height: 30px;
    }


    .toolbar_cont {
        height: 7.1%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #87CEEB;
    }

    li {
        float: right;
    }

        li a, .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover, .dropdown:hover .dropbtn {
                background-color: darkslategray;
            }

        li.dropdown {
            display: inline-block;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .li_user {
        float: left;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        direction: rtl;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: right;
    }
    #exc_but
    {
        background-image: url( '@Url.Content("~/Images/xsl_icon.png")' );
    background-size: 37px 37px;
    float:left;
    height: 40px;  
    width: 40px;
    }
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<html>
<head>
    <script src="~/scripts/dropdown_menu.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/libs/FileSaver/FileSaver.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/libs/js-xlsx/xlsx.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/tableExport.min.js")"></script>
    <script>
     
        $(function () {
         
      $("#datepicker").datepicker();
      $("#datepicker2").datepicker();
  } );
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   
        <div class="main_div">
            <section class="toolbar_cont">
                <ul>
                    @if (isUser || isAdmin)
            {
                        <li><a href="/Main/MainIndex">עמוד ראשי</a></li>
                        <li class="dropdown" hidden="">
                            <a href="#" class="dropbtn">ניהול שליפות</a>
                            <div class="dropdown-content">
                                <a href="/Main/TichurSuppCreate">יצירת רשימת ספקים לתיחור</a>
                                <a href="/Main/TichurExisting">צפייה ברשימות קיימות</a>

                            </div>
                        </li>
                    }
                    @if (isAdmin)
            {
                        <li class="dropdown" hidden="">
                            <a href="#" class="dropbtn">ניהול מערכת</a>
                            <div class="dropdown-content">
                                <a href="/Main/MangUsers">ניהול משתמשים</a>
                                <a href="/Main/MangSuppliers">ניהול ספקים</a>
                                <a href="/Main/MangAuctions">ניהול מכרזים</a>
                                <a href="/Main/MangClusters">ניהול סלים</a>
                                <a href="/Main/MangUnits">ניהול יחידות</a>
                            </div>
                        </li>


                    }
                    <li class="li_user"> שלום, @Model.Name (תפקיד: @Model.Job ) זוהי מערכת לניהול מכרזים ושליפות ספקים - @ViewBag.Title</li>
                </ul>
            </section>
        


        @RenderBody()
    </div>

</body>
</html>
