<!DOCTYPE html>
@using System.Security.Claims;
@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var name = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.GivenName);
}
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/scripts/jquery-ui.css")">
    <script src="@Url.Content("~/scripts/jquery-1.12.4.js")"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="@Url.Content("~/scripts/jquery.signalR-2.1.2.js")"></script>
   
    <script src="@Url.Content("~/scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.mvc.js")"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Style/datatables.min.css")" />
    
<link rel="stylesheet" href="@Url.Content("~/Style/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap-rtl.css")">
    <link rel="stylesheet" href="@Url.Content("~/Style/dropdown_search.css")">
<script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
   <script src="@Url.Content("~/scripts/jquery.qtip.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/scripts/jquery.qtip.min.css")">

 <script>
     function jqAlert(outputMsg, titleMsg) {
         if (!outputMsg) return;

         var div = $('<div></div>');
         div.html(outputMsg).dialog({
             title: titleMsg,
             resizable: false,
             modal: true,
             buttons: {
                 "OK": function () {
                     $(this).dialog("close");
                 }
             }

         });
         if (!titleMsg) div.siblings('.ui-dialog-titlebar').hide();
     }
 </script>

   <script src="@Url.Content("~/scripts/datatables.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/scripts/angular.js")"></script>
    <script src="@Url.Content("~/scripts/jquery-bootstrap-purr.min.js")"></script>
    <script src="@Url.Content("~/scripts/chatGen.js")"></script>
    <script type="text/javascript">

       
      
       
        var closable = true;
        jQuery.fn.extend({
            disable: function (state) {
                return this.each(function () {
                    var $this = $(this);
                    $this.toggleClass('disabled', state);
                });
            }
        });
        var et = "";
        var et2 = "";
        $(document).ready(function () {
           
            var d = new Date();
            var dstr = "|" + d.getFullYear() + "," + d.getMonth()+1 +"," + d.getDate()+"|";
            @RenderSection("Code1")
            $("form input[type=text]").tooltipValidation({
                placement: "left"
            });
            $("form input[type=number]").tooltipValidation({
                placement: "left"
            });
            $("form select").tooltipValidation({
                placement: "left"
            });
            $('.send-mod-but').disable(true);
        
            $('.stayopenbut').click(function () {
                closable = !closable;

            });
            $('.stayopen').on({


                "hide.bs.dropdown": function () { return closable; }
            });
            $('#comment').change(function () {

                var count = $("#comment").val().length;
                if(count==0)
                {
                    $('.send-mod-but').disable(true);
                }
                else
                {
                    $('.send-mod-but').disable(false);
                }

            });
            var tod = new Date();
            var yes = new Date(tod);
            yes.setDate(yes.getDate() - 1);
            $(".datepickerT,.datepickerY").datepicker({
                showOtherMonths: true
            });
            $(".datepickerT").datepicker('setDate', tod);
            $(".datepickerY").datepicker('setDate', yes);
        });
        sessionStorage.setItem("is_reloaded", false);

        

    </script>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<nav class="navbar navbar-default"><div class="container-fluid"><ul class="nav navbar-nav">
                <li class=""><a href="/Main/MainIndex">עמוד ראשי</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">ניהול שליפות<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Main/TichurSuppCreate">יצירת רשימת ספקים לתיחור</a></li>
                        <li><a href="/Main/TichurExisting">צפייה ברשימות קיימות</a></li>
                    </ul>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ניהול מערכת<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Main/MangUsers">ניהול משתמשים</a></li>
                            <li><a href="/Main/MangSuppliers">ניהול ספקים</a></li>
                            <li><a href="/Main/MangAuctions">ניהול מכרזים</a></li>
                            <li><a href="/Main/MangClusters">ניהול סלים</a></li>
                            <li><a href="/Main/MangUnits">ניהול יחידות</a></li>
                        </ul>
                    </li>
                }
                <li class=""><a data-toggle="modal" data-target="#myModalFaq" href="#"> לחץ כאן - לעזרה</a></li>
            </ul>
 
            <ul class="nav navbar-nav navbar-right">
                @{
                    var job = "Unkown";
                    if (User.IsInRole("Admin"))
                    {
                        job = "מנהל רכש";

                    }
                    else if (User.IsInRole("User"))
                    {
                        job = "חשב";
                    }
                }
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @name.Value,@job</a></li>
                <li><a href="/Login/LoginOut"><span class="glyphicon glyphicon-log-out"></span> התנתק</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe"></span> @ViewBag.Title</a></li>
            </ul>
        </div>
    </nav>
        @RenderBody()
    @RenderPage("footer.cshtml")
     
    
</body>
</html>
