<!DOCTYPE html>

@{
    var isAdmin=(@Model.Job=="Purchase Manager");
    var isUser=(@Model.Job== "Accountant");
    if (isAdmin)
    {
        PageData["UseSecret"] = true;
    }

}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Style/MainLayoutStyle.css")">
<html>
<head>
    <script src="~/scripts/dropdown_menu.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/scripts/jquery-ui.css")">
    <script src="@Url.Content("~/scripts/jquery-1.12.4.js")"></script>
    <script src="@Url.Content("~/scripts/jquery-ui.js")"></script>
    
    <script src="@Url.Content("~/scripts/jquery.table2excel.js")"></script>
    <script src="@Url.Content("~/scripts/excel_but.js")">
       

    </script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
        <div class="main_div">
            <section class="toolbar_cont">
                <ul>
                    @if (isUser || isAdmin)
            {
                        <li><a href="/Main/MainIndex">עמוד ראשי</a></li>
                        <li class="dropdown" hidden="">
                            <a href="#" class="dropbtn">ניהול שליפות</a>
                            <div class="dropdown-content">
                                <a href="/Main/TichurSuppCreate">יצירת רשימת ספקים לתיחור</a>
                                <a href="/Main/TichurExisting">צפייה ברשימות קיימות</a>

                            </div>
                        </li>
                    }
                    @if (isAdmin)
            {
                        <li class="dropdown" hidden="">
                            <a href="#" class="dropbtn">ניהול מערכת</a>
                            <div class="dropdown-content">
                                <a href="/Main/MangUsers">ניהול משתמשים</a>
                                <a href="/Main/MangSuppliers">ניהול ספקים</a>
                                <a href="/Main/MangAuctions">ניהול מכרזים</a>
                                <a href="/Main/MangClusters">ניהול סלים</a>
                                <a href="/Main/MangUnits">ניהול יחידות</a>
                            </div>
                        </li>


                    }
                    <li class="li_user"> שלום, @Model.Name (תפקיד: @Model.Job ) זוהי מערכת לניהול מכרזים ושליפות ספקים - @ViewBag.Title</li>
                </ul>
            </section>
            <br />

            <fieldset id="upper_area">

                <legend id="upper_area_title">@PageData["UpperTitle"]</legend>

                @RenderSection("Upper")
            </fieldset>
           <br />

            <br />
            <br />
            <br />

            <br />

           @if (PageData["ExtraButtons"] == true)
           {
               
            @RenderPage(@Url.Content("~/Views/Main/ExtraButtons.cshtml"));

           }
       
            
            <fieldset id="lower_area">

                <legend id="lower_area_title">@PageData["LowerTitle"]</legend>

                @RenderSection("Lower")
            </fieldset>
</div>

</body>
</html>
