@model WebApplication1.Database.Auctions
@using WebApplication1.Database
@{
    ViewBag.Title = "הוסף מכרז";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@{

    List<WebApplication1.Database.Statuses> sl;

    using (TimchurDatabaseEntities ent = new TimchurDatabaseEntities())
    {

        sl = ent.Statuses.ToList();

    }
    List<SelectListItem> slsl = new List<SelectListItem>();
    foreach (WebApplication1.Database.Statuses sli in sl)
    {

        SelectListItem item = new SelectListItem()
        {
            Text = sli.Name,
            Value = (sli.ID).ToString(),
            Selected = false,
        };
        if(sli.Name=="פעיל")
        {
            item.Selected = true;
        }
        slsl.Add(item);

    }
    var x = 0;
    using (TimchurDatabaseEntities entit = new TimchurDatabaseEntities())
    {
        if (Model != null && Model.AuctionNumber != null)
        {
            if(entit.Auctions.Where(x2 => x2.AuctionNumber == Model.AuctionNumber).Count()>0)
            {
                x = entit.Auctions.Where(x2 => x2.AuctionNumber == Model.AuctionNumber).ToList().First().ID;
            }


        }
    }

}
<script>
    function ex_co()
    {
        var r = confirm("האם אתה בטוח שאתה רוצה לבטל?");
        if (r == true) {
            $('form')
  .trigger('reset');
        } else {

        }
    }
</script>
<style>
    input.input-validation-error,
    textarea.input-validation-error,
    select.input-validation-error {
        background: #FEF1EC;
        border: 1px solid #CD0A0A;
    }
</style>
@section Code1
{
    var full="מערכת שליפת ספקים לתיחור – רשימת משתמשים מורשים" + dstr;
    var table = $('.tabExcel').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: full
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });

}
@if (ViewData.ModelState.Keys.Contains("Exist"))
{
    <script>
        var r = confirm("הפריט קיים במסד,האם תרצה לערוך אותו?");
        if (r == true) {
            window.location = "/Main/EditAuction/"+@x ;
        } else {

        }

    </script>
}
<meta charset="ISO-8859-1">

<div class="row">
    <div class="col-lg-6">
        <h4>&nbsp;&nbsp;&nbsp; הוסף מכרז</h4>
    </div>
    <div class="col-lg-offset-5 pull-right"><button onclick="ex_co()" class="btn btn-default">ביטול</button></div>

</div>
@using (Html.BeginForm())
{



    <hr />
    <div class="col-sm-offset-5">
        @if (!ViewData.ModelState.IsValid)
        {
            <h4>שגיאות:</h4>
        }
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
        <div class="col-sm-offset-5 form-group">
            @Html.LabelFor(model => model.AuctionNumber, "מספר מכרז:")
            <div>
                @Html.EditorFor(model => model.AuctionNumber, new { htmlAttributes = new { @class = "form-control col-sm-2" } })
                @Html.ValidationMessageFor(model => model.AuctionNumber, "", new { @class = "text-danger" })
            </div>

        </div>

        <br />
                <br />
                <div class="col-sm-offset-5 form-group">
                    @Html.LabelFor(model => model.Name, "שם מכרז:")
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-sm-2" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                </div>

                <br />
                <br />

                <div class="col-sm-offset-5 form-group">
                    @Html.LabelFor(model => model.StatusID, "סטאטוס:")

                    @Html.DropDownListFor(model => model.StatusID, slsl, "בחר/י ערך", new { htmlAttributes = new { @class = "form-control col-sm-1" } })
                    @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })

                </div>



                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="שמירה" class="btn btn-default" />

                    </div>
                </div>

}

