@using WebApplication1.Database
@model List<WebApplication1.Database.Auctions>
@{
    ViewBag.Title = "ניהול מכרזים";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    var i = 1;
}
@section Code1
{
    var full="כל המכרזים" + dstr;
    var table = $('.tabExcel').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: full
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });

}
<style>
    .center {
        width: 42px;
        height: 42px;
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
</style>
<div id="toExcel_wrapper" class="col-md-6 wrap_tab">

</div>
<div class="row bg-primary"><h4 class="col-sm-11">&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.Title</h4><div class="col-sm-1 center"><button class="btn-default" onclick="location.href='@Url.Action("AddAuction", "Main", null)';return false;"><span class="glyphicon glyphicon-plus"></span></button></div></div>
<img id="help" src="@Url.Content("/Images/i.jpg")" height="25" width="25"
     title="דף זה נועד לניהול מכרזים. ניתן להוסיף מכרז חדש ע&quot;י לחיצה על ה+ מצד שמאל למעלה
             .או לערוך מכרז קיים ע&quot;י לחיצה על 'ערוך' בשורה הרלוונטית עבור המכרז"
     align="right" />
<img id="help" src="@Url.Content("/Images/i.jpg")" height="25" width="25"
     title="ניתן למיין את התוצאות ע&quot;פ עמודה מסויימת (מספר שורה, שם, וכו') ע&quot;י לחיצה על העמודה הרצויה.
                      .לחיצה נוספת מחליפה את המיון מסדר עולה ליורד או להפך"
     align="left" />

<table class="table tabExcel" id="toExcel">
    <thead>
        <tr>
            <th>
                מספר שורה
            </th>
            <th>
                מספר מכרז
            </th>
            <th>
                שם מכרז
            </th>
            <th>
                מספר סלים במכרז
            </th>
            <th>
                סטאטוס
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (Auctions Elem in Model)
        {
            <tr>
                <td>@i</td>
                <td>@Elem.AuctionNumber</td>
                <td>@Elem.Name</td>
                <td>@Elem.Clusters.Count</td>
                <td>@Elem.Statuses.Name</td>
                <td>@Html.ActionLink("ערוך", "EditAuction", new { id = Elem.ID })</td>
            </tr>
            {
                i += 1;
            }
        }
    </tbody>
</table>
<!-- Modal -->
